@use "../customize" as *;

// the hero of about page
.hero-about{
   
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    .history{
        
        margin-top: 40px;
    }
    h4{
        color: $blue !important;
    }
    h5{
        margin-top: 30px;
        color: $blue !important;
    }
    
    }
// home hero
body{
    background-color: $gray-200 !important;
}
.hero-index{
    margin-top: 0;
    .caption{
            position: absolute;
            right: 15%;
            bottom: 1.25rem;
            left: 15%;
            top: 35%;
            color: #fff;
            font-size: 2rem;
            text-align: center;
            font-weight: bolder;
            
            
    }
    .slide2{
        
        top: 50%;
        color: $blue !important;
        font-weight: bolder;
        font-size: 2rem;
        font-family: cursive;
    }
}
//home services
.services{
  
    margin-top: 3% ;
    .txt{
        h2 {
            color: $red !important;
        }
        p{
            font-size: 1.25rem;
            font-weight: 300;
        }
    
    }
    .col-4{
        img{
            
               
                padding-left:1px;
                padding-right: 1px;
        }
    }
    
    
}
