@use '../customize' as *;

.admin-hero{
    .img{
        position:absolute;
        border-radius: 20px;
        width: 350px;
        height: 400px;
       .img02{
        position: relative;
        margin-top: -15px;
       
       }
    
        }
        .container-form{
            margin-left: 20%;
           
            margin-top: 10%;
        

        }
        #show{
            position: absolute;
             
            left: 71%;
            margin-top: -30px;
            cursor: pointer;
        }
    }


form{
    width: 350px;
    position: relative;
    margin-left: 35%;
    border-radius: 10px;
    background-color: $primary !important;
    .form{
        margin-left: 3rem;
        margin-right: 3.5rem;
        width: 250px;
        
       
        h2{
            color:$secondary;
            font-family: cursive;
            margin-left: 50px;
            padding-top: 30px;
            font-size: 1.7em;

           
        }
        p{
            position: absolute;
            display: none;
        }
        .input{
            border: 2px #ced4da solid;  
        }
        .input:focus{
            color: #212529;
            font-style: italic;
           
            border: 2px $blue solid;
        }
        .error-class{
            color: $red !important;
            margin-top: 30px;
            font-family: cursive;
        }
        .user{
            margin-top: 30px;
        }
    }

        .more-btn{
            margin-left: 50%;
        }
    

}
