@use "../customize" as *;

//navbar
.menu{
    //  background-color: $gray-900;
    font-family: cursive;
    font-size: 1.2rem;        
    font-weight: bolder;
     .container-fluid{
        .logo-title{
            margin-left: 7%;
            
        }
     }
    
    .navbar-links{
         .navbar-nav{
          margin-left: 80px;
           
        }
     .nav-link{
               
                padding: 20px 30px 0 0;
                
            }
        }
    }   


    // footer
footer{
    background-color: $secondary;
    color: $primary;
    margin-top: 5%;
    img{
        width: 10%;
        height: 10%;
        border-radius: 20px;
    }
    .footer{
        display: inline-flex;
        margin-left: 0%;
        margin-top: 30px;
        
    }
    .first-col{
    
    width: 80%;
    margin-left: 10%;
    a
    {
        text-decoration: none;
        margin-left: 20px;
     }
    
    }
    .cell
    {
        margin-left: 30px;
    }
  .developers
  {
    padding-bottom: 20px;
    margin-left: 30%;
  }
   
   .right-column{
    margin-left: 200px;
   }
}
