@use "../customize" as *;
.more-btn:hover{
        background-color: $green !important;
    }
    // login button
    
        .more-btn{
            position: relative;
             margin-top: 10px;
             left: -80px;
             font-size: 1.2em;
             font-family: cursive;
             width: 150px;
             margin-bottom: 20px;
        }
    
